
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

a {
    text-decoration: none !important;
}

body {
    overflow-x: hidden;
}

#modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    height: 100%;
    width: 100%;
}

.text-12 {
font-size:12px!important;}
.modalPopup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    padding: 0 0 20px;
    -webkit-box-shadow: 0 2px 10px 3px rgba(0,0,0,.2);
    -moz-box-shadow: 0 2px 10px 3px rgba(0,0,0,.2);
    box-shadow: 0 2px 10px 3px rgba(0,0,0,.2);
    background-color: #fff;
}

.modalContent {
    padding: 0 2em;
    margin-left: 40%;
    margin-top: -50px;
}

.headerBar {
    width: 98%;
    margin: 0;
    text-align: center;
}

.buttonStyle {
    border: transparent;
    border-radius: 0;
    background: #6d6d6d;
    color: #eee !important;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    padding: 6px 25px;
    text-decoration: none;
    background: linear-gradient(to bottom, #43ff29 0%,#336032 100%);
    margin-top: 20px;
}

    .buttonStyle:hover {
        background: #4fac43;
        color: #fff;
    }



.widget-box-inner {
    padding: 0;
}

.widget-box-inner {
    margin-bottom: 20px;
}

.widget-box-inner {
    margin-bottom: 20px;
    padding: 0;
}

.service-box {
    float: left;
    width: 44%;
    padding: 0 0px;
    border: dashed 2px #999999;
    margin: 0 calc(3% - 2px);
}

.service-box {
    min-height: 300px;
}

.service-box {
    width: 96%;
    margin: 0px;
    min-height: initial;
    margin: 0 2% 15px;
    box-sizing: border-box;
}

.round {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

    .round a.inner {
        width: 88px;
        height: 88px;
        border-radius: 88px;
    }

        .round a.inner .fa {
            font-size: 40px;
            line-height: 88px;
        }


/* 
SUB HEADER */
.G20-logo {
    width: 9%;
}


.Sub-header div {
    font-size: 9px;
    font-weight: 600;
    color: #fff;
}

    .Sub-header div > span {
        display: block;
        font-size: 10px;
    }

.Bg-main {
    background: linear-gradient(290deg,#338c42,#f7941d);
}

.text-main {
    color: #4a8554;
}


/* NAVBAR */
.nav-link {
    margin: 0px 15px;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.7s;
    color: rgb(0 0 0 / 65%) !important;
}

.navbar-brand div > h4 {
    letter-spacing: 1px;
    font-weight: 700;
    color: #003b49;
    margin: 0;
    text-transform: uppercase;
    line-height: 29px;
    font-family: 'Oswald', sans-serif;
}

.Navactive {
    background: linear-gradient(290deg,#338c42,#f7941d);
    color: #ffffff !important;
    border-radius: 5px;
    padding: 5px 18px !important;
}


/* BANNER BANNER */
/* .carousel-inner {
    
    /* width: 90%!important; */
/* margin: auto!important;
    padding-bottom: 30px!important; 
} */


.carousel-indicators [data-bs-target] {
    border-radius: 50% !important;
    width: 10px;
    height: 10px;
}

/* .carousel-indicators {
  
    bottom: -16px!important;} */


.carousel-control-next {
    right: -77px !important;
}

.carousel-control-prev {
    left: -75px !important;
}


/* <!-- SCETION SMART POLICING --> */
.ScroolDiv {
    overflow: auto;
    max-height: 340px;
}

    .ScroolDiv::-webkit-scrollbar {
        width: 9px;
        height: 9px;
    }

    .ScroolDiv::-webkit-scrollbar-track {
        background: #e7e9eb;
    }

    .ScroolDiv::-webkit-scrollbar-thumb {
        background: #ccc;
    }

        .ScroolDiv::-webkit-scrollbar-thumb:window-inactive {
            background: #ddd;
        }

        .ScroolDiv::-webkit-scrollbar-thumb:hover {
            background: #aaa;
        }

        .ScroolDiv::-webkit-scrollbar-thumb:active {
            background: #888;
        }

.Radius {
    border-radius: 14px 0 14px 14px;
    box-shadow: -5px 5px 0px 10px #f38507;
    margin-top: 10px;
}
/* .Public-policy.Public-policy */

.Public-policy a {
    color: rgb(0 0 0 / 65%) !important;
    text-decoration: none;
    /* line-height: 34px; */
    margin-bottom: 15px;
}



.Public-policy {
    border: 4px solid #ededed !important;
    padding: 20px 15px;
    border-radius: 5px;
    position: relative;
}


.bg-img p {
    font-size: 10px;
}

.w-40 {
    width: 40% !important;
}

.w-19 {
    width: 19% !important;
}

.w-27 {
    width: 31% !important;
}


/*SLIDER CSS*/

.NC1 {
    background: #F5EDFF !important;
}

.NC2 {
    background: #FFF7ED !important;
}

.NC3 {
    background: #EDF6FF !important;
}

.NC4 {
    background: #FFEDED !important;
}

#clients {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    #clients .clients-wrap {
        display: block;
        width: 95%;
        margin: 0 auto;
        overflow: hidden;
        padding: 15px 0;
        position: relative;
        /* height: 400px; */
    }

        #clients .clients-wrap a {
            display: flex;
        }

        #clients .clients-wrap ul {
            display: flex;
            list-style: none;
            position: relative;
            margin-left: auto;
            margin-right: auto;
        }

            #clients .clients-wrap ul li {
                display: block;
                float: left;
                position: relative;
                text-align: center;
            }

                #clients .clients-wrap ul li div {
                    width: 200px;
                    /* height: 200px; */
                    display: block;
                    border-radius: 50%;
                }



.company_logo_slides {
    padding: 35px 0 20px;
    background: #ededed;
}


.containerSLider {
    max-width: 1240px;
    margin: 0 auto;
}

/*LOGIN STYLE*/
.input-group-text {
    background: #21adac !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
    height: 100%;
    background: rgba(33,173,172,0.1);
}

.LogGroup {
    border: 1px solid #21adac !important;
    width: 100%;
    height: 40px;
    border-radius: 15px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}

.input_user, .input_pass {
}

#togglePassword {
    color: #21adac !important;
    display: inline;
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.Image {
    font-size: 22px;
    color: #21adac;
    padding: 2px;
    margin-right: 10px;
}

#login-btn {
    background-color: #21adac;
    width: 100%;
    height: 40px;
    color: white;
    border-radius: 15px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    transition: all 0.5s ease 0s;
}

.backLoging {
    background-color: #21adac;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Log-Logo {
    height: 100px;
    background: #cdebeb;
    border-radius: 50%;
    width: 100px;
    display: grid;
    place-items: center;
    box-shadow: 0px 1px 3px #000;
}

.backLoging > h5 {
    text-shadow: 1px 1px #000;
    color: #cdebeb;
}
/* FOOTER FOOTER */
.footer-section {
    background: rgb(49 51 54);
    position: relative;
}

.footer-cta {
    border-bottom: 1px solid #373636;
}

.single-cta i {
    color: #ff5e14;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.cta-text {
    padding-left: 15px;
    display: inline-block;
}

    .cta-text h4 {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 2px;
    }

    .cta-text span {
        color: #757575;
        font-size: 15px;
    }

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-logo {
    margin-bottom: 30px;
}

    .footer-logo img {
        max-width: 200px;
    }

.footer-text p, .footer-text p a {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}

.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}

.facebook-bg {
    background: #3B5998;
}

.twitter-bg {
    background: #55ACEE;
}

.google-bg {
    background: #DD4B39;
}

.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

    .footer-widget-heading h3::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -15px;
        height: 2px;
        width: 50px;
        background: #4a8554;
    }

.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
}

    .footer-widget ul li a:hover {
        color: #ff5e14;
    }

    .footer-widget ul li a {
        color: #878787;
        text-transform: capitalize;
    }

.subscribe-form {
    position: relative;
    overflow: hidden;
}

    .subscribe-form input {
        width: 100%;
        padding: 14px 28px;
        background: #2E2E2E;
        border: 1px solid #2E2E2E;
        color: #fff;
    }

    .subscribe-form button {
        position: absolute;
        right: 0;
        background: #ff5e14;
        padding: 13px 20px;
        border: 1px solid #ff5e14;
        top: 0;
    }

        .subscribe-form button i {
            color: #fff;
            font-size: 22px;
            transform: rotate(-6deg);
        }

.copyright-area {
    background: linear-gradient(290deg,#338c42,#f7941d);
    padding: 25px 0;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}

    .copyright-text p a {
        color: #ff5e14;
    }

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

    .footer-menu li:hover a {
        color: #ff5e14;
    }

    .footer-menu li a {
        font-size: 14px;
        color: #ffffff;
    }

.Icon > a {
    padding: 4px 7px;
    color: #ffffff;
    border: 1px solid;
    border-radius: 50%;
}

.Copyright {
    background: rgb(49 51 54);
    padding: 20px 0;
}

    .Copyright > p {
        color: #878787;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 0;
    }


.About-section {
    background: linear-gradient(290deg,#338c42,#f7941d);
    padding: 20px;
    letter-spacing: 3px;
}

    .About-section h3 {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 600;
    }

.About-section-details p {
    color: #6a6565 !important;
    line-height: 26px;
}

    .About-section-details p > b {
        color: #212529;
    }

.About-section-details h5 {
    padding: 20px 0 !important;
    font-weight: 600;
}


.Align-text {
    text-align: justify;
    text-justify: inter-word;
}

.min-h-87vh {
    min-height:88vh!important;
}

@media screen and (max-width: 600px) {
    .buttonStyle {
        font-size: 12px !important;
        /*  padding: 5px 5px;*/
        margin-left: -35px;
    }


    .modalPopup {
        transform: translate(-65%, -50%) !important;
    }

    .buttonStyle {
        margin-left: -50px !important;
    }

    .ScroolDiv {
        margin-top: 20px;
    }

    .G20-logo {
        width: 29%;
    }

    .Radius {
        box-shadow: -3px 1px 0px 5px #21adac;
    }

    .navbar-nav {
        margin-top: 20px;
    }

    .carousel-control-next {
        right: 0px !important;
    }
    .carousel-control-next {
        right: 0px !important;
    }
    .carousel-control-prev {
        left: 0px !important;
    }


    .w-27 {
        width: 95% !important;
    }

    .w-m-27 {
        width: 27% !important;
    }

}

/* FONT FAMILY FONT FAMILY */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserratalternates/v17/mFThWacfw6zH4dthXcyms1lPpC8I_b0juU0xiJffIJl70w.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserratalternates/v17/mFThWacfw6zH4dthXcyms1lPpC8I_b0juU0xiJfWIJl70w.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserratalternates/v17/mFThWacfw6zH4dthXcyms1lPpC8I_b0juU0xiJfdIJl70w.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserratalternates/v17/mFThWacfw6zH4dthXcyms1lPpC8I_b0juU0xiJfcIJl70w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserratalternates/v17/mFThWacfw6zH4dthXcyms1lPpC8I_b0juU0xiJfSIJk.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v49/TK3_WkUHHAIjg75cFRf3bXL8LICs18NvsUtiZTaR.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v49/TK3_WkUHHAIjg75cFRf3bXL8LICs18NvsUJiZTaR.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v49/TK3_WkUHHAIjg75cFRf3bXL8LICs18NvsUliZTaR.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v49/TK3_WkUHHAIjg75cFRf3bXL8LICs18NvsUhiZTaR.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v49/TK3_WkUHHAIjg75cFRf3bXL8LICs18NvsUZiZQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
